//article.scss


.ert-article-container{
	display: block;
 	@media screen and (min-width: $screen-desktop-xs){
	 	margin-left:-1.5rem;
	 	margin-right: -1.5rem;
 		display: flex;
	 	>div{
	 		flex:1 1 50%;
	 		padding:0 1.5rem;
	 	}
 	}
}
.ert-article-pictures{
	img{ width: 100%; margin-bottom: 2rem; border:1px solid #eee;}
	.pictures-container{
		position:relative;
		display: block;
		overflow: hidden;
		.slick-dots{
			bottom:8%;
		}
		img{
			margin-bottom: 1.5rem; 
		}
		@media screen and (min-width: $screen-desktop-xs){
			margin:0 -.5rem;
			display: flex;
			flex-wrap: wrap;
			.slide{
				padding:0 .5rem;
				flex:0 0 50%;
				&:first-child{
					flex:0 0 100%;
				}
			}
			img{
				margin-bottom: 1rem; 
			}
		}
		@media screen and (max-width: 576px){
			max-height:395px;
			.slick-dots{
				bottom:12%;
			}
		}
	}
}
.ert-article{
	text-align: left;
	.title,.subtitle{color:#333;}
	.title{
		font-family: 'Noto Serif TC',serif;
		font-size:2rem;
		margin-bottom: .5rem;
		font-weight: 500;
		letter-spacing: 2px;
		line-height: 1.2;
	}
	.subtitle{
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 1.25rem;
		color:#777;
		font-family: 'Roboto', sans-serif;
	}
	.card-tags{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 1rem;
		.tag{
			font-size:12px;padding: .25rem 1rem;
			white-space: nowrap;
			margin-bottom: .5rem;
			letter-spacing: 2px
		}
	}
	.content{
		font-size: 18px;
		color:#666;
		h3,h4,h5,h6{ font-weight: 500;color:#333; }
		h4,h5,h6{ margin-top:1rem; margin-bottom: 1rem }
		h3{ font-size: 21px; color: rgb(213, 0, 50);
			margin-top:1.25rem; margin-bottom: 1.25rem}
		h4{ font-size: 18px; }

		p{
			
			line-height: 1.68;
			margin-bottom: 1.25rem;
		}
		b{
			color:#000;
		}

		ul,ol{ padding-left: 1.25rem;
		list-style-type: disc; margin-bottom: 1rem;
		>li{ padding-bottom: .75rem } 
		}
	}

	img{
		width: 100%
	}

	blockquote{
		color:$ert-red;
		font-weight: 400;
		border:2px solid $ert-red;
		padding:1.5rem;
	}
	@media screen and (min-width: $screen-tablet){
		max-width: 750px;
		margin:0 auto;
		.title{ font-size: 2.5rem;line-height: 1 }
		.subtitle{ font-size: 1.125rem;margin-bottom: 1.5rem; }
		.card-tags{ margin-bottom: 1.25rem; .tag{ font-size: 14px } }
	}
}