//navbar.scss


.#{$projectName}-navbar{
	position:fixed;
	top:0;
	left:0;
	z-index: 999;
	width: 100%;
	height: 114px;
	color:#fff;
	border-top:6px solid #d50032;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding:2rem;
	&.navbar-solid{
		background-color: #d50032;
	}
}
.#{$projectName}-logo{
	position:absolute;
	z-index: 1000;
	left:50%;
	margin-left:-82px;
	a{padding:0;padding-bottom: 6px;}
	@media screen and (min-width: $screen-tablet){
		z-index: initial;
	}
}
.#{$projectName}-nav-links{
	display: none;
	@media screen and (min-width: $screen-tablet){
		list-style-type: none;
		padding:0;
		margin:0;
		display: flex;
		flex-direction: row;
		font-size: 18px;
	    position: relative;
	    top: 12px;
		a{
			color:#fff;
			display: block;
			padding:0 1rem;
		}	
	}
}
.#{$projectName}-navbar-collapse{
	background-color: #d50032;
	visibility: visible;
	display: flex;
	padding: 2rem;
	padding-top:108px;
    position: absolute;
    top: 0;
    left:-100%;
    height: 100vh;
    overflow-y: auto;
    width: 100%;
    transition: transform 0.125s ease-in;
    &.active{
    	transform: translateX(100%);
    }
    @media screen and (min-width: $screen-tablet){
    	left:-375px;
    	width: 375px;
	    &.active{
	    	transform: translateX(375px);
	    }
    }
    @media screen and (min-width: $screen-desktop-xs){
    	left:-375px;
    	width: 375px;
	    &.active{
	    	transform: translateX(375px);
	    }
    }
    .ert-logo{
    	top:19px;
    }
}
$hamburger-width:50px;
.#{$projectName}-navbar-toggle {
  z-index: 100;
  width:$hamburger-width;
  height:50px;  
  padding:13px;
  margin-left:-13px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border:none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top:7px;
  &:focus{
    outline: none;
    box-shadow: none;
  }
}
.#{$projectName}-navbar-toggle span {
  position: relative;
  height:4px;
  width:25px;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  background: #FEFEFE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .20s ease-in-out;
  -moz-transition: .20s ease-in-out;
  -o-transition: .20s ease-in-out;
  transition: .25s ease-in-out;
}
.#{$projectName}-navbar-toggle{
	&.active{
    justify-content: center;
		span:nth-child(1) {
		  top:8px;
		  -webkit-transform: rotate(-135deg);
		  -moz-transform: rotate(-135deg);
		  -o-transform: rotate(-135deg);
		  transform: rotate(-135deg);
		}
		span:nth-child(2) {
		  opacity: 0;
		  -webkit-transition: .16s ease-in-out;
		  -moz-transition: .16s ease-in-out;
		  -o-transition: .16s ease-in-out;
		  transition: .16s ease-in-out;
		}
		span:nth-child(3) {
		  bottom:0;
		  -webkit-transform: rotate(135deg);
		  -moz-transform: rotate(135deg);
		  -o-transform: rotate(135deg);
		  transform: rotate(135deg);
		}
	}
}


.navbar-collapse-nav{
	width: 100%;
	>li{
		border-top:1px solid #CF4B4F;
		padding:1rem 0;
		display: flex;
		flex-direction: row;
	}
	.navbar-link{
		font-size: 18px;
		color:#fff;
	}
	.navbar-link-thead{
		flex:0 0 22.5%;
		max-width: 22.5%;
	}
	.navbar-sublink-group{
		flex:1 1 75% ;
		display: flex;
		flex-direction: row;
		flex-wrap:wrap;
		margin-top:-2px;
		.navbar-link{
			font-size: 16px;
		}
		.primary-group{
			flex:0 0 70%;
			display: flex;
			flex-direction: column;
			flex-wrap:wrap;
			>li{
				padding:.25rem 0;
			}
		}
		.secondary-group{
			flex:0 0 30%;
			>li{
				padding:.25rem 0;
				text-align: right;
			}
		}
	}
}

