//navbar.scss


.navbar{
	width: 100%;
	background-color:$navbar-bg;
	display: flex;
	padding:1.5rem;
}

.navbar-logo{

}

.navbar-nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left:auto;
	>li{
		padding:0 1rem;
	}
}

.navbar-toggle{
	&.active{

	}
}

.navbar-collapse{
	position: fixed;
	z-index: 99;
	width: $navbar-collapse-width;
	background-color:#333;
	height: 100%;
	min-height: 100%;
	overflow-y: scroll;
	left:0;
	top:0;
	transition: 0.2s transform ease-out;
	transform: translateX(-$navbar-collapse-width);
	padding:4.45rem 0;
	&.active{
		transform: translateX(0);
	}
}

.navbar-collapse-nav{
	>li{
		border-top:1px solid #fff;
	}
	.navbar-link{
		padding:1.5rem 1rem;
	}
	border-bottom:1px solid #fff;

	.collapse-menu{
		background-color:#5d5d5d;
		>li{
			border-top:1px solid #fff;
		}
		.navbar-link{
			padding:1rem;
			padding-left:2rem;
		}
	}


}


.navbar-collpase-close {
  position: absolute;
  right:1rem;
  top:1rem;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.navbar-collpase-close:hover {
  opacity: 1;
}
.navbar-collpase-close:before, .navbar-collpase-close:after {
  position: absolute;
  left: 15px;
  top:4px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #fff;
}
.navbar-collpase-close:before {
  transform: rotate(45deg);
}
.navbar-collpase-close:after {
  transform: rotate(-45deg);
}