		<script type="text/javascript" src="/ERICHWeb/libs/jquery-3.5.1.min.js"></script>
		<script type="text/javascript" src="/ERICHWeb/libs/slick.min.js"></script>
		<script type="text/javascript" src="/ERICHWeb/libs/jquery.fancybox.min.js"></script>
		<script type="text/javascript" src="/ERICHWeb/libs/moment.min.js"></script>
		<script type="text/javascript" src="/ERICHWeb/libs/require.min.js" ></script>
		<script type="text/javascript" src="/ERICHWeb/js/app.js"></script>
		<script type="text/javascript" src="/ERICHWeb/js/config.js"></script>