<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="format-detection" content="telephone=no">
		<title>永豐吐司</title>
		<meta itemprop="name" content="永豐吐司">
		<meta name="description" content="...">
		<meta name="keywords" content="永豐吐司">
		<meta name="viewport" content="width=device-width, initial-scale=1,height=device-height">
		<meta itemprop="description" content="...">
		<meta property="og:title" content="永豐吐司">
		<meta property="og:description" content="..." >
		<meta property="og:url" content="https://www.richtoast.com.tw">
		<meta property="og:type" content="...">
		<meta property="og:image" content="/ERICHWeb/img/ert-share.jpg" >
		<meta data-sever="https://erich-t.blockcode.com.tw" data-apisever="https://erich-t.blockcode.com.tw">
		<link rel="icon" type="image/svg+xml" sizes="16x16" href="/ERICHWeb/favicon.svg">
		<!-- Project main css -->
		<link type="text/css" rel="stylesheet" href="/ERICHWeb/css/vendor.min.css?v=20200825121">
		<link type="text/css" rel="stylesheet" href="/ERICHWeb/css/app.min.css?v=20200821125">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;600;700;900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600&display=swap" rel="stylesheet">
	</head>
	<body>
		<h6 class="sr-only d-none">永豐吐司</h6>