<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="format-detection" content="telephone=no">
		<title>永豐吐司</title>
		<meta itemprop="name" content="永豐吐司">
		<meta name="description" content="...">
		<meta name="keywords" content="永豐吐司">
		<meta name="viewport" content="width=device-width, initial-scale=1,height=device-height">
		<meta itemprop="description" content="...">
		<meta property="og:title" content="永豐吐司">
		<meta property="og:description" content="..." >
		<meta property="og:url" content="...">
		<meta property="og:type" content="...">
		<meta property="og:image" content="/ERICHWeb/img/ert-share.jpg" >
		<link rel="icon" type="image/png" sizes="16x16" href="/ERICHWeb/favicon.png">
		<!-- Project main css -->
		<link type="text/css" rel="stylesheet" href="/ERICHWeb/css/vendor.min.css">
		<link type="text/css" rel="stylesheet" href="/ERICHWeb/css/app.min.css">
	</head>
	<body>