<header>
	<nav class="navbar">
		<a class="navbar-logo" href="/">永豐吐司</a>
		<ul class="navbar-nav">
			<li><a href="">店鋪</a></li>
			<li><a class="navbar-toggle" href="javascript:;">選單</a></li>
		</ul>
		<div id="NavbarSupportContent" class="navbar-collapse">
			<a href="javascript:;" class="navbar-collpase-close"></a>
			<ul class="navbar-collapse-nav">
				<li><a class="navbar-link" href="">首頁</a></li>
				<li>
					<a class="navbar-link collapse" href="#" data-collapse="#collapseExample">商品</a>
					<ul class="collapse-menu" id="collapseExample">
						<li><a class="navbar-link" href="">麵包1</a></li>
						<li><a class="navbar-link" href="">麵包1</a></li>
						<li><a class="navbar-link" href="">麵包1</a></li>
					</ul>
				</li>
				<li>
					<a class="navbar-link collapse" href="#">活動</a>
					<ul class="collapse-menu">
						<li><a class="navbar-link" href="">活動1</a></li>
						<li><a class="navbar-link" href="">活動1</a></li>
						<li><a class="navbar-link" href="">活動1</a></li>
					</ul>					
				</li>
				<li><a class="navbar-link" href="">店鋪</a></li>
				<li><a class="navbar-link" href="">關於我們</a></li>
				<li><a class="navbar-link" href="">聯繫我們</a></li>
			</ul>
		</div>	
	</nav>
</header>