<header>
  <nav class="ert-navbar">
  	<h6 class="sr-only d-none">網站導覽</h6>
  	<a id="ert-navbar-toggle" href="javascript:;" class="ert-navbar-toggle"><span></span><span></span><span></span></a>
  	<a  class="ert-logo" href="/ERICHWeb/">永豐吐司</a>
  	<ul class="ert-nav-links" >
  		<li><a href="/ERICHWeb/stores.html">店鋪</a></li>	
  	</ul>
  	<div id="ert-navbar-collapse" class="ert-navbar-collapse">
		<ul class="navbar-collapse-nav">
			<li><a class="navbar-link" href="">首頁</a></li>
			<li>
				<a class="navbar-link navbar-link-thead">商品</a>
				<div class="navbar-sublink-group">
					<ul class="primary-group">
						<li><a class="navbar-link" href="/ERICHWeb/product-index?麵包">最新商品</a></li>
						<li><a class="navbar-link" href="/ERICHWeb/product-index?吐司">熱門商品</a></li>
						<li><a class="navbar-link" href="/ERICHWeb/product-index?果醬">吐司麵包</a></li>
						<li><a class="navbar-link" href="/ERICHWeb/product-index?點心">西點蛋糕</a></li>
						<li><a class="navbar-link" href="/ERICHWeb/product-index?蛋糕">伴手禮</a></li>
					</ul>
				</div>
			</li>
			<li><a class="navbar-link" href="/ERICHWeb/event-index/">活動</a></li>
			<li><a class="navbar-link" href="/ERICHWeb/stores.html">店鋪</a></li>
<!-- 			<li class="social-media-link">
				<a class="navbar-link youtbue-icon" href="https://www.youtube.com/channel/UC2w3yRm40mywWNNih7lnEmA" target="_blank">YOUTUBE</a>
				<a class="navbar-link line-icon" href="https://timeline.line.me/user/_dR2rbPXojxZAzq3SQgS1kd70HGWU3QHIN9YlVmo" target="_blank">LINE</a>
			</li> -->
		</ul>
  	</div>
  </nav>
</header>