<header>
  <nav class="ert-navbar">
  	<a id="ert-navbar-toggle" href="javascript:;" class="ert-navbar-toggle"><span></span><span></span><span></span></a>
  	<div class="ert-logo"><a href="/ERICHWeb/"><img src="/ERICHWeb/img/ert-logo.svg"></a></div>
  	<ul class="ert-nav-links" >
  		<li><a href="/ERICHWeb/productIndex.html">商品</a></li>
  		<li><a href="/ERICHWeb/stores.html">店鋪</a></li>	
  	</ul>
  	<div id="ert-navbar-collapse" class="ert-navbar-collapse">
		<ul class="navbar-collapse-nav">
			<li><a class="navbar-link" href="">首頁</a></li>
			<li>
				<a class="navbar-link navbar-link-thead" href="#">商品</a>
				<ul class="navbar-sublink-group">
					<li><a class="navbar-link" href="/ERICHWeb/productIndex.html">麵包</a></li>
					<li><a class="navbar-link" href="/ERICHWeb/productIndex.html">蛋糕</a></li>
					<li><a class="navbar-link" href="/ERICHWeb/productIndex.html">最新商品</a></li>
					<li><a class="navbar-link" href="/ERICHWeb/productIndex.html">吐司</a></li>
					<li><a class="navbar-link" href="/ERICHWeb/productIndex.html">飲品</a></li>
					<li><a class="navbar-link" href="/ERICHWeb/productIndex.html">熱門商品</a></li>
					<li><a class="navbar-link" href="/ERICHWeb/productIndex.html">果醬</a></li>
					<li><a class="navbar-link" href="/ERICHWeb/productIndex.html">禮盒</a></li>
					<li><a class="navbar-link" href="/ERICHWeb/productIndex.html">點心</a></li>
				</ul>
			</li>
			<li>
				<a class="navbar-link navbar-link-thead" href="/ERICHWeb/eventIndex.html">活動</a>
			</li>
			<li><a class="navbar-link" href="/ERICHWeb/stores.html">店鋪</a></li>
		</ul>
  	</div>
  </nav>
</header>