@@include('_head-meta.html') 
		<main id="vueapp" >
			@@include('_navbar.html') 
			<section class="section">
				<div class="container">
					<div class="ert-btn-container">
						<a class="arrow-btn left" href=""></a>
					</div>
					<article class="ert-article-container">
						<div class="ert-article">
							<div class="title">浪漫早午餐攻略</div>
							<div class="subtitle">浪漫早午餐，自己動手做！</div>
					          <div class="card-tags">
					          	<small>長時間低溫發酵</small>
					          	<small>牧場頂級鮮乳</small>
					          	<small>天然液種</small>
					          	<small>適合新手</small>
					          	<small>只要十分鐘</small>
					          </div>
							<div class="content">

								<p><img src="/ERICHWeb/img/article/articleimg_01.jpg" alt=""></p>

								<p>講到每天一開始的活力來源，我認為一定要吃份健康美味的早餐。早餐是是一天應該要吃得最豐富健康的一餐，這是大家都知道的，但對忙碌的現代人來說，還是很多人習慣以傳統早餐店或便利商店為主，其實大家都知道很多市售的快速早餐不宜常吃，因為有太多看不到的化學成份或不注重清潔衛生等令人堪慮的程序了，但許多人卻以為要吃份健康安心、準備起來不麻煩的早餐好像很困難，我很明白這種心情，但真的有這麼難嗎？</p>

								<p>從我開始注重全家健康後，我們家早餐幾乎都是親手做的，其實自己做早餐不僅沒想像那麼麻煩，而且豐富性和趣味感都遠超乎既有想像呢，看看上面這張精彩的照片，裡頭的早餐全是短時間變出來的喔！看起來完全不輸許多知名早午餐店對吧，想知道怎麼迅速變化出這些料理嗎？這篇會有詳盡教學唷，快來快來！</p>

								<p>首先我們先來看忙碌平日怎麼做人見人愛的10分鐘快速料理吧，Go↓ ↓ ↓</p>

								<p><b style="color:#d50032">蔬果地瓜沙拉</b></p>	

								<p>纖維質、蛋白質含量高的地瓜，是健康又營養的食材，早餐吃地瓜對身體非常好，將蒸過後鬆鬆軟軟的地瓜結合桂冠沙拉就能輕鬆拌出香甜美味的地瓜沙拉，再加入一些蔬果、堅果、果乾，不僅讓味道及口感豐富，營養也更多。搭配麵包或佐餐食用都很適合，擔心一早起來來不及準備的話，只要前一晚先將地瓜蒸好趁熱壓成泥，冷卻後保存冷藏，隔天再與其他食材一起拌勻即可快速完成。</p>

								<p><img src="/ERICHWeb/img/article/articleimg_02.jpg" alt=""></p>

								<p>材料：<br>
								【地瓜】  2個(約500g)<br>
								【蘋果】  1/2顆<br>
								【小黃瓜】  1根<br>
								【白煮蛋】  1個<br>
								【葡萄乾】  2大匙<br>
								【核桃】  2大匙<br>
								【桂冠沙拉】  3大匙<br>
								【鹽】  1小撮</p>

								<p>
									<div class="iframe-video">
										<iframe src="https://www.youtube.com/embed/8ZM3GuRnV5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								</p>

								<p>
									做法：<br>
									步驟1. 將地瓜洗淨連皮蒸熟，趁熱剝去外皮，將熟地瓜壓成泥後放涼。
									步驟2. 冷卻後的地瓜泥和桂冠沙拉、鹽拌勻，再加入白煮蛋丁、小黃瓜丁、蘋果丁、葡萄乾、壓碎核桃、鹽一起攪拌均勻，完成！
								</p>	

								<p>地瓜泥和食材在一天先準備好，裝入保鮮盒後隔天再拌勻會更迅速順手喔！</p>

								<p><img src="/ERICHWeb/img/article/articleimg_03.jpg" alt=""></p>

								<p>香甜綿軟的蔬果地瓜沙拉，舀一些搭配各式餐點都很搭，像我也喜歡將它拿來搭配簡易好做的牛排餐，取代常見的洋芋沙拉也很好吃。</p>

								<p><img src="/ERICHWeb/img/article/articleimg_04.jpg" alt=""></p>

								<p>在早餐的麵包或鬆餅裡夾入滿滿的地瓜沙拉，就是飽足又健康的一餐。因為地瓜沙拉準備起來容易，時間變充裕，就可以再搭配一點生菜沙拉和早餐腸，輕輕鬆鬆就讓早餐無比豐盛，吃完精力特別充沛呢。</p>

								<p>這樣的早午餐，在外面餐廳吃至少一個人要300元，兩個人吃起來至少要600元以上，在家裡製作不僅新鮮又不需要花這麼多錢，製作沒想像困難，吃起來又格外自在。快一起來學做法吧，相信我，一定會讓你的假日早午餐時光幸福極了。</p>

								<p>一口氣看完四個美妙的早餐變化，一定很訝異這些餐點都只要運用即手可得的食材和簡單的步驟就能做到對吧，別只是心動了，趕緊跟我一起動手、盡情揮灑創意，獻給家人的幸福早餐，一定要吃得健康又快樂喔。</p>

								<blockquote>搭配永豐鮮奶吐司的口感非常獨特好吃唷！</blockquote>
							</div>
						</div>
					</article>
				</div>
			</section>
		    <section class="section">
		    	<div class="container">
		    		<div class="section-title noto-thin">${ about.aboutTitle }</div>
		    		<div class="section-subtitle large-space">${ about.aboutSubtitle }</div>
		    		<div class="custom-image-layout">
		    			<div v-for="url in about.abountContentMedia"><img :src="'https://erich-t.blockcode.com.tw'+url" alt=""></div>
		    		</div>
		    	</div>
		    </section>
		    <section class="section bg-grey">
		    	<div class="container">
		    		<div class="section-title">相關商品</div>
			        <div class="ert-cards-group filter-first-2">
						<div class="col-6 col-lg-4" v-for="(item,index) in products">
							<div class="card">
					          <a class="card-img-outer" href="#">
					              <img :src="'https://erich-t.blockcode.com.tw'+ item.productPicture.urls" alt="Image" class="card-img"></img>
					          </a>
					          <a class="card-title-link" href="#"><h4 class="card-title">${ item.productTitle }</h4></a>
					          <p class="card-summary">${ item.productPrice }</p>
				          	</div>
						</div>
			        </div>
		    	</div>
		    </section>
			@@include('_footer.html') 
		</main>

		@@include('_footjs.html') 

		<script type="text/javascript">

			function fetchingAPI(option,object){

				//console.log( option , object )

				return new Promise(( resolve , reject ) => {

							fetch( option._uri, {

								method: option._method, 
								body: JSON.stringify({ query: object._gql , variables: object._variable }),
								headers: new Headers( option._headers )

							}).then(function(response) {

							  	//處理 response
							  	return response.json()

				  			}).then(function(j) {

				  				let data = j.data

				  				resolve(data);

				  			}).catch(function(err) {
				    			
				    			console.log(err)
							})

				  		}) 

			}
		</script>

		<script>

			var vm = new Vue({
			  el: '#vueapp',
			  delimiters: ['${', '}'],
			  data(){
			  	return{
			  		products:[],
				    about:{
				    	aboutTitle:'',
				    	aboutSubtitle:'',
				    	abountContentMedia:''
				    }
			  	}
			  },
			  mounted(){
			  	console.log(this)
			  }
			});

			console.log('### init vue app! ###')

			function initapp(){

				//set up api options
				let option = {

					_uri:'https://erich-t.blockcode.com.tw/api/graphql',
					_method:'POST',
					_headers:{
						'Content-Type': 'application/json'
					}

				}

				let homePage = {

						_gql: `query{
							# 主視覺
							homePage(first: 1) {
							    aboutTitle
							    aboutSubtitle
							    abountContentMedia {
							      urls
							    }
							}
						}`
				}

				let products = {

						_gql: `query GHQProductItemsByCategoryID($parameters: String!) {
							    getProductItemsByCategoryID(parameters: $parameters) {
							        productTitle
							        productPicture {
							        urls(first: 1)
							        }
							        productPrice
							        productCategory {
							        termContentItems {
							            displayText
							        }
							        }
							    }

						}`,

						_variable: { "parameters": "{\"TermContentItemId\": \"4dg4mksctmmhf1g5hfsx6x99nm\"}" }

				}

				fetchingAPI(option,homePage).then( data => {

					console.log("data=", data )

					vm.about.aboutTitle = data.homePage[0].aboutTitle
					vm.about.aboutSubtitle = data.homePage[0].aboutSubtitle
					vm.about.abountContentMedia = data.homePage[0].abountContentMedia.urls

				})

				fetchingAPI(option,products).then( data => {

					console.log("data=", data.getProductItemsByCategoryID )

					vm.products = data.getProductItemsByCategoryID
					
				})

			}

			initapp()

		</script>

@@include('_html-foot.html') 