@@include('_head-meta.html') 
		<main id="vueapp" >
			@@include('_navbar.html') 
			<section class="section">
				<div class="container">
					<div class="ert-btn-container">
						<a class="arrow-btn left" href=""></a>
					</div>
					<article class="ert-article-container">
						<div class="ert-article d-lg-none">
							<div class="title">中秋節月餅</div>
							<div class="subtitle">活動時間：2020/7/15 - 2020/9/15</div>
					          <div class="card-tags">
					          	<small>自由搭配</small>
					          	<small>買十送一</small>
					          	<small>單一地址滿6000元免運</small>
					          </div>
					     </div>
						<div class="ert-article-pictures">
							<img src="/ERICHWeb/img/article/eventimg_01.jpg" alt="">
							<img src="/ERICHWeb/img/article/eventimg_02.jpg" alt="">
						</div>
						<div class="ert-article">
							<div class="d-none d-lg-block">
								<div class="title">中秋節月餅</div>
								<div class="subtitle">活動時間：2020/7/15 - 2020/9/15</div>
						          <div class="card-tags">
						          	<small>自由搭配</small>
						          	<small>買十送一</small>
						          	<small>單一地址滿6000元免運</small>
						          </div>
					         </div>
							<div class="content">
								<p>不可錯過的經典中秋節月餅，永豐吐司推出中秋節月餅禮盒，買十送一，數量有限，欲購從速！</p>
								<p>不可錯過的經典中秋節月餅，永豐吐司推出中秋節月餅禮盒，買十送一，數量有限，欲購從速！</p>
								<p><b>購買方式： </b><br>電話訂購 0939-123-456<br>下載訂購單</p>
								<p><b>運送方式：</b><br> 宅配到府</p>
							</div>
						</div>
					</article>
				</div>
			</section>
		    <section class="section">
		    	<div class="container">
		    		<div class="section-title noto-thin">${ about.aboutTitle }</div>
		    		<div class="section-subtitle large-space">${ about.aboutSubtitle }</div>
		    		<div class="custom-image-layout">
		    			<div v-for="url in about.abountContentMedia"><img :src="'https://erich-t.blockcode.com.tw'+url" alt=""></div>
		    		</div>
		    	</div>
		    </section>
		    <section class="section bg-grey">
		      <div class="container">
		      	<div class="section-title">相關產品</div>
		        <div class="ert-cards-group filter-first-2">
					<div class="col-6 col-lg-4" v-for="(item,index) in products">
						<div class="card">
				          <a class="card-img-outer" href="#">
				              <img :src="'https://erich-t.blockcode.com.tw'+ item.productPicture.urls" alt="Image" class="card-img"></img>
				          </a>
				          <a class="card-title-link" href="#"><h4 class="card-title">${ item.productTitle }</h4></a>
				          <p class="card-summary">${ item.productPrice }</p>
			          	</div>
					</div>
		        </div>
		      </div>
		    </section>
			@@include('_footer.html') 
		</main>

		@@include('_footjs.html') 

		<script type="text/javascript">

			function fetchingAPI(option,object){

				//console.log( option , object )

				return new Promise(( resolve , reject ) => {

							fetch( option._uri, {

								method: option._method, 
								body: JSON.stringify({ query: object._gql , variables: object._variable }),
								headers: new Headers( option._headers )

							}).then(function(response) {

							  	//處理 response
							  	return response.json()

				  			}).then(function(j) {

				  				let data = j.data

				  				resolve(data);

				  			}).catch(function(err) {
				    			
				    			console.log(err)
							})

				  		}) 

			}
		</script>

		<script>

			var vm = new Vue({
			  el: '#vueapp',
			  delimiters: ['${', '}'],
			  data(){
			  	return{
			  		products:[],
				    about:{
				    	aboutTitle:'',
				    	aboutSubtitle:'',
				    	abountContentMedia:''
				    }
			  	}
			  },
			  mounted(){
			  	console.log(this)
			  }
			});

			console.log('### init vue app! ###')

			function initapp(){

				//set up api options
				let option = {

					_uri:'https://erich-t.blockcode.com.tw/api/graphql',
					_method:'POST',
					_headers:{
						'Content-Type': 'application/json'
					}

				}

				let homePage = {

						_gql: `query{
							# 主視覺
							homePage(first: 1) {
							    aboutTitle
							    aboutSubtitle
							    abountContentMedia {
							      urls
							    }
							}
						}`
				}

				let products = {

						_gql: `query GHQProductItemsByCategoryID($parameters: String!) {
							    getProductItemsByCategoryID(parameters: $parameters) {
							        productTitle
							        productPicture {
							        urls(first: 1)
							        }
							        productPrice
							        productCategory {
							        termContentItems {
							            displayText
							        }
							        }
							    }

						}`,

						_variable: { "parameters": "{\"TermContentItemId\": \"4dg4mksctmmhf1g5hfsx6x99nm\"}" }

					}

				fetchingAPI(option,homePage).then( data => {

					console.log("data=", data )

					vm.about.aboutTitle = data.homePage[0].aboutTitle
					vm.about.aboutSubtitle = data.homePage[0].aboutSubtitle
					vm.about.abountContentMedia = data.homePage[0].abountContentMedia.urls

				})

				fetchingAPI(option,products).then( data => {

					console.log("data=", data.getProductItemsByCategoryID )

					vm.products = data.getProductItemsByCategoryID
					
				})

			}

			initapp()

		</script>
@@include('_html-foot.html') 