@@include('_head-meta.html') 
		<main id="vueapp" >
			@@include('_navbar.html') 
		    <section class="section">
		      <div class="container">
			    <div class="ert-product-list-switcher">
			      <a class="switch-prev arrow-btn left" href="#"><span>熱門商品</span></a>
			      <div class="title"> 蛋糕 </div>
			      <a class="switch-next arrow-btn right" href="#"><span>麵包</span></a>
			    </div>
		        <div class="ert-cards-group">
					<div class="col-6 col-lg-4" v-for="(item,index) in products">
						<div class="card">
				          <a class="card-img-outer" href="/ERICHWeb/product.html">
				              <img :src="'https://erich-t.blockcode.com.tw'+ item.productPicture.urls" alt="Image" class="card-img"></img>
				          </a>
				          <a class="card-title-link" href="#"><h4 class="card-title">${ item.productTitle }</h4></a>
				          <p class="card-summary">${ item.productPrice }</p>
			          	</div>
					</div>
		        </div>
		      </div>
		    </section>
		    <section class="section bg-grey">
		    	<div class="container">
		        	<div class="section-title ">其他商品分類</div>
		        	<product-category :btns="taxonomy"></product-category>
		    	</div>
		    </section>
			@@include('_footer.html') 
		</main>

		@@include('_footjs.html') 

		<script type="text/javascript">

			function fetchingAPI(option,object){

				//console.log( option , object )

				return new Promise(( resolve , reject ) => {

							fetch( option._uri, {

								method: option._method, 
								body: JSON.stringify({ query: object._gql , variables: object._variable }),
								headers: new Headers( option._headers )

							}).then(function(response) {

							  	//處理 response
							  	return response.json()

				  			}).then(function(j) {

				  				let data = j.data

				  				resolve(data);

				  			}).catch(function(err) {
				    			
				    			console.log(err)
							})

				  		}) 

			}
		</script>

		<script>

			//vue code
			const ProductCategory = Vue.component("ProductCategory", {
				props: {
					btns: {
					  type: Array,
					  required: true
					}
				},
				template: `
					<div class="ert-btns-group">
						<a v-for="i in btns " :href="i.path" class="btn btn-outline-primary">{{ i.displayText }}</a>
					</div>`,
			});

			let vm = new Vue({

			  el: '#vueapp',
			  delimiters: ['${', '}'],
			  components:{
			  	"product-category": ProductCategory
			  },
			  data(){
			  	return{
			  		products:[],
			  		taxonomy:[]
			  	}
			  },
			  mounted(){
			  	console.log(this)
			  }
			});


			console.log('### init vue app! ###')

			function initapp(){

				//set up api options
				let option = {

					_uri:'https://erich-t.blockcode.com.tw/api/graphql',
					_method:'POST',
					_headers:{
						'Content-Type': 'application/json'
					}

				}

				let products = {

					_gql: `query GHQProductItemsByCategoryID($parameters: String!) {
						    getProductItemsByCategoryID(parameters: $parameters) {
						        productTitle
						        productPicture {
						        urls(first: 1)
						        }
						        productPrice
						        productCategory {
						        termContentItems {
						            displayText
						        }
						        }
						    }

					}`,

					_variable: { "parameters": "{\"TermContentItemId\": \"4dg4mksctmmhf1g5hfsx6x99nm\"}" }

				}

				let taxonomy = {

						_gql: `query{
						  # 商品分類按鈕
						  taxonomy(where: {alias: {alias: "product-category"}}) {
						    displayText
						    alias {
						      alias
						    }
						    taxonomy {
						      contentItems {
						        ... on Category {
						          displayText
						          path
						        }
						      }
						    }
						  }
						}`,

				}

				//get api data
				fetchingAPI(option,products).then( data => {

					console.log("data=", data )

					vm.products = data.getProductItemsByCategoryID

				})

				fetchingAPI(option,taxonomy).then( data => {

					console.log("data=", data.taxonomy[0].taxonomy.contentItems )

					vm.taxonomy = data.taxonomy[0].taxonomy.contentItems
					
				})

			}

			initapp()

		</script>
@@include('_html-foot.html') 