/* 2020-08-27 app.css */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,500,700|Noto+Serif+TC:400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

//prefix
$projectName: ert ;



$ert-red: #d50032 !default;
$ert-cyan: #19778B !default;


$link-color: #909090 !default;
$link-color-hover: #aaaaaa !default;

$navbar-bg: #EEEEEE !default;
$navbar-collapse-width: 300px !default;

// -- meida query -- //
$screen-mobilex-xs:   	320px !default;
$screen-mobile-xs:   	375px !default;
$screen-mobile-s: 	 	414px !default;
$screen-mobile: 	 	576px !default;
$screen-tablet: 	 	768px !default;
$screen-desktop-xs:  	992px !default;
$screen-desktop-s:   	1024px !default;
$screen-desktop:     	1200px !default;
$screen-desktop-m:     	1280px !default;
$screen-desktop-lg:  	1344px !default;
$screen-desktop-xlg: 	1400px !default;



//ios setting
$ios-screen-height: 	calc( 97vh - 75px ) !default;
$ios-screen-md-height: 	calc( 100vh - 53px ) !default;
