/* 2020-08-12 app.css */
/* 2020-08-08 app.css */
/* 2020-08-07_2 app.css */
/* 2020-08-07_1 app.css */
/* 2020-08-07 app.css */
/* 2020-08-04 app.css */
/* 2020-07-28 app.css */
/* 2020-07-23 app.css */


@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,200,400,700');

//prefix
$projectName: ert ;



$ert-red: #d50032 !default;
$ert-cyan: #19778B !default;


$link-color: #909090 !default;
$link-color-hover: #aaaaaa !default;

$navbar-bg: #EEEEEE !default;
$navbar-collapse-width: 300px !default;

// -- meida query -- //
$screen-mobilex-xs:   	320px !default;
$screen-mobile-xs:   	375px !default;
$screen-mobile-s: 	 	414px !default;
$screen-mobile: 	 	576px !default;
$screen-tablet: 	 	768px !default;
$screen-desktop-xs:  	992px !default;
$screen-desktop-s:   	1024px !default;
$screen-desktop:     	1200px !default;
$screen-desktop-m:     	1280px !default;
$screen-desktop-lg:  	1344px !default;
$screen-desktop-xlg: 	1400px !default;



//ios setting
$ios-screen-height: 	calc( 97vh - 75px ) !default;
$ios-screen-md-height: 	calc( 100vh - 53px ) !default;
