@import 'variables';
@import 'reset';
@import 'app/navbar';
@import 'app/footer';
@import 'app/cards';
@import 'app/buttons';
@import 'app/carousel';
@import 'app/article';
@import 'app/icons';
@import 'app/stores';

body{
	font-family: 'Noto Sans TC', LiHeiPro, 微軟正黑體 ,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	&.lock-body{
		overflow: hidden;
	}
}


#vueapp{
	visibility: hidden;
	&.vue-initialized{
		visibility: visible;
	}
}

a{
	&:hover,&:focus{
		text-decoration: none;
	}
}

main{
	padding-top:80px;
	&.index-navbar-hollow{
		padding-top:0
	}
}

section{
	position:relative;
}


.empty{
	padding:8.5rem 3rem;
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-start;
	.section-title{ margin-bottom: 1rem; }
	p{ font-size: 18px; }
}

.collapse-menu{
	visibility: hidden;
	height:0px;
	overflow-y: hidden;
	transition:height 1s  ease-out;
	&.active{
		visibility: visible;
		height: auto;
	} 
}

.section{
	text-align: center;
	padding:30px 0;
	&.bg-grey{
		background-color: #f4f4f4
	}
	padding-left:1rem;
	padding-right:1rem;
	@media screen and (min-width: $screen-tablet){
		padding:60px 0;
	}
}



.section-title{
	font-size: 28px;
	color:$ert-red;
	margin-bottom: 30px;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 3px;
	font-family: 'Noto Sans TC',sans-serif;
	&.large-space{
		margin-top:30px;
		margin-bottom: 60px;
	}
	&.noto-thin{
		font-size:1.75rem;
		line-height: 1.5;
		font-weight: 500;
		color:#666;
		font-family: 'Noto Serif TC',serif;
		+.section-subtitle{
			font-weight: 500;
			color:#666;
			line-height: 1.25;
			font-size:1rem;
			margin-top:-25px;
			margin-bottom:0;
			font-family: 'Noto Serif TC',serif;
		}
	}
	@media screen and (min-width: $screen-tablet){
		margin-bottom: 60px;
		font-size: 2rem;
		&.large-space{
			margin-top:0;
			margin-bottom: 60px;
		}
		&.noto-thin{
			font-size: 52px;
			+.section-subtitle{
				font-size:1.5rem;
				margin-top:-50px;
				margin-bottom:0;
			}
		}
	}
}

.section-content.article{
	line-height: 2;
	text-align: left;
	p{ margin-bottom: 1.5rem }
}

.primary-list{
	>li{
		margin-bottom: 4rem;
		p{ padding-left:3rem; }
	}
	ol{
		padding-left: 4rem;
		>li{ margin-bottom: 3rem }
		p { padding-left: 0 }
	}
}

.custom-image-layout{
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
	height:222px;
	>div{
		flex: 1 1 50%;
	    max-width: 50%;
	    position: relative;

	    &:last-child{
			flex: 1 1 100%;
		    max-width: 100%;
	    }
	}
	img{
	    top:0;
	    left:0;
	    width: 100%;
	    height: 100%;
	    position:absolute;
	    object-fit: cover;
	}
	@media screen and (min-width: $screen-tablet){
		height:500px;
		>div{
			flex: 1 1 50%;
		    max-width: 50%;
		    position: relative;
		    max-height: 50%;
		    &:last-child{
		    	max-height: none;
		    }
		}
	}
	@media screen and (min-width: $screen-desktop-xs){
		height: 761px;
	}
}

.youtbue-icon{
	width: 100px;
	height: 22px;
	background-image:url('/ERICHWeb/img/yt_logo_mono_dark.png');
	background-size:100% auto;
	text-indent: -9999px;
	background-repeat:no-repeat;
	display: inline-block;
	margin-top:10px;
}
.line-icon{
	width:45px;
	height:45px;
	background-size:100% auto;
	text-indent: -9999px;
	background-repeat:no-repeat;
	background-image:url('/ERICHWeb/img/LINE_SOCIAL_Basic.png');
	
}

.parallax-window{
    min-height: 300px;
    height: 300px;
    background: transparent;
    padding:2rem;
    display: flex;
    justify-content:flex-end;
    align-items:flex-start;
    color:#fff;
    position:relative;
    flex-flow:column wrap;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    &.small-window{
    	height: 150px;
    	min-height: 150px;
    }
	.section-title.noto-thin, .section-title.noto-thin+.section-subtitle{
		color:#fff;
		margin:0;
		position:relative;
		z-index: 2;
	}
	@media screen and (min-width: $screen-tablet){
		min-height: 400px;
		height: 400px;
		&.small-window{
			min-height: 250px;
			height: 250px;
		}
	}
	@media screen and (min-width: $screen-desktop-xs){
		padding:6rem 4rem;
		min-height: 600px;
		height: 600px;
	    &.small-window{
	    	height:350px;
	    	min-height:350px;
	    }
	}
}
.parallax-mirror {
    z-index:1
}
.ert-product-list-switcher{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
    position:relative;
    min-height: 38px;
	.title{
		font-size: 28px;
	    color: #d50032;
	    line-height: 1;
	    font-weight: 700;
	    position: absolute;
	    left: 50%;
	    margin-left:-150px;
	    width: 300px;
	    // /margin:auto;
	    text-align: center;
	    line-height:38px;
	    min-height: 38px;
	}
	@media screen and (min-width: $screen-tablet){
		 margin-top:0;
		.switch-prev{
			>span{
				position: absolute;
		    	width: 100px;
		    	left: 50px;
		    	text-align: left;
		    }
		}
		.switch-next{
			>span{
				position: absolute;
			    width: 100px;
			    right: 50px;
			    text-align: right;
			}
		}
	}
	@media screen and (min-width: $screen-desktop-xs){
		padding:1rem;
		margin-top:0;
		min-height: 70px;
		margin-bottom:60px;
	}
	@media screen and (max-width: $screen-mobile){
		.title{
			width: 200px;
			max-width: 200px;
		    margin-left:-100px;
		}
		.switch-prev,.switch-next{
			>span{ display: none }
		}
	}
	
}

.ert-btn-container{
	margin-bottom:1rem;
	position: relative;
	.left,.right{
		position:absolute;
	}
	.left{ top:-3.5rem; left:0 }
	@media screen and (max-width: $screen-tablet){
		margin-bottom:0;
		.left{ left:-2rem; top:1rem; }
	}
	@media screen and (max-width: $screen-mobile){
		.left{ top:0;left:-1.95rem; }
	}
}

.iframe-video{
	position:relative;
	width: 100%;
	padding-bottom:56.25%;
	iframe{
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.ert-events-card{
	@media screen and (max-width: $screen-tablet){
		.card{
			 margin-bottom: 60px;
		}
		.card-img-outer{
			padding-bottom:65%
		}
	}
}
