@import 'variables';
@import 'reset';
@import 'app/navbar';
@import 'app/footer';
@import 'app/cards';
@import 'app/buttons';
@import 'app/carousel';
@import 'app/article';
@import 'app/stores';

body{
	font-family: 'Noto Sans TC',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	&.lock-body{
		overflow: hidden;
	}
}


#vueapp{
	visibility: hidden;
	&.vue-initialized{
		visibility: visible;
	}
}

a{
	&:hover,&:focus{
		text-decoration: none;
	}
}

main{
	padding-top:114px;
	&.index-navbar-hollow{
		padding-top:0
	}
}

section{
	position:relative;
}


.empty{
	padding:8.5rem 3rem;
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-start;
	.section-title{ margin-bottom: 1rem; }
	p{ font-size: 18px; }
}

.collapse-menu{
	visibility: hidden;
	height:0px;
	overflow-y: hidden;
	transition:height 1s  ease-out;
	&.active{
		visibility: visible;
		height: auto;
	} 
}

.section{
	text-align: center;
	padding:30px 0;
	&.bg-grey{
		background-color: #f4f4f4
	}
	padding-left:1rem;
	padding-right:1rem;
	@media screen and (min-width: $screen-tablet){
		padding:60px 0;
	}
}



.section-title{
	font-size: 28px;
	color:$ert-red;
	margin-bottom: 30px;
	line-height: 1;
	font-weight: 400;
	&.large-space{
		margin-top:30px;
		margin-bottom: 60px;
	}
	&.noto-thin{
		font-size: 40px;
		line-height: 57px;
		font-weight: 100;
		color:#666;
		+.section-subtitle{
			font-weight: 200;
			color:#666;
			font-size: 26px;
			margin-top:-25px;
			margin-bottom: 30px;
		}
	}
	@media screen and (min-width: $screen-tablet){
		margin-bottom: 60px;
		&.large-space{
			margin-top:0;
			margin-bottom: 60px;
		}
		&.noto-thin{
			font-size: 52px;
			+.section-subtitle{
				margin-top:-50px;
				margin-bottom: 60px;
			}
		}
	}
}

.section-content.article{
	line-height: 2;
	text-align: left;
	p{ margin-bottom: 1.5rem }
}

.primary-list{
	>li{
		margin-bottom: 4rem;
		p{ padding-left:3rem; }
	}
	ol{
		padding-left: 4rem;
		>li{ margin-bottom: 3rem }
		p { padding-left: 0 }
	}
}

.custom-image-layout{
	display: flex;
	flex-direction: column;
	flex-wrap:wrap;
	height:222px;
	>div{
		flex: 1 1 50%;
	    max-width: 50%;
	    position: relative;

	    &:last-child{
			flex: 1 1 100%;
		    max-width: 100%;
	    }
	}
	img{
	    top:0;
	    left:0;
	    width: 100%;
	    height: 100%;
	    position:absolute;
	    object-fit: cover;
	}
	@media screen and (min-width: $screen-tablet){
		height:500px;
		>div{
			flex: 1 1 50%;
		    max-width: 50%;
		    position: relative;
		    max-height: 50%;
		    &:last-child{
		    	max-height: none;
		    }
		}
	}
	@media screen and (min-width: $screen-desktop-xs){
		height: 761px;
	}
}

.ert-product-list-switcher{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
    position:relative;
    min-height: 38px;
	.title{
		font-size: 28px;
	    color: #d50032;
	    line-height: 1;
	    font-weight: 700;
	    position: relative;
	    width: 300px;
	    margin:auto;
	    text-align: center;
	    line-height:38px;
	    min-height: 38px;
	}
	@media screen and (min-width: $screen-tablet){
		 margin-top:0;
		.switch-prev{
			>span{
				position: absolute;
		    	width: 100px;
		    	left: 50px;
		    	text-align: left;
		    }
		}
		.switch-next{
			>span{
				position: absolute;
			    width: 100px;
			    right: 50px;
			    text-align: right;
			}
		}
	}
	@media screen and (min-width: $screen-desktop-xs){
		padding:1rem;
		margin-top: 40px;
		margin-bottom: 100px;
	}
	@media screen and (max-width: $screen-mobile){
		.title{
			width: 200px;
			max-width: 200px;
		}
		.switch-prev,.switch-next{
			>span{ display: none }
		}
	}
	
}

.ert-btn-container{
	margin-bottom:60px;
	@media screen and (max-width: $screen-mobile){
	    margin-bottom: 50px;
   		margin-top: 30px;
   	}
}

.iframe-video{
	position:relative;
	width: 100%;
	padding-bottom:56.25%;
	iframe{
		position: absolute;
		width: 100%;
		height: 100%;
	}
}


